{{#if email.starred}}
  <p data-test = "starred">
    {{#link-to "email" email.id}}
      {{#if email}}
        From: {{email.from}}
      {{/if}}
    {{/link-to}}
    <p class="truncate">
      {{truncate-text email.message 50}}
    </p>
  </p>
{{else}}
  <p data-test = "unstarred">
    {{#link-to "email" email.id}}
      {{#if email}}
        From: {{email.from}}
      {{/if}}
    {{/link-to}}
    <p class="truncate">
      {{truncate-text email.message 50}}
    </p>
  </p>
{{/if}}
