<form onsubmit={{action "createPost"}}>
  <div class = "flex">
    <p class = "spacing">From:</p>
    {{input id="from" type="text" value=from}}
  </div>

  <div class = "flex">
    <p class = "spacing">To:</p>
    {{input id="to" type="text" value=to}}
  </div>

  <div class = "flex">
    <p class = "spacing" >Subject:</p>
    {{input id="subject" type="text" value=subject}}
  </div>

  <div class = "flex">
    <p class = "spacing" >Message:</p>
    {{textarea id="message" rows="8" cols="80" value=message}}
  </div>

  <button data-test = "publish" type="submit">Publish</button>
</form>
